@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #383838;
}

.header {
  background: no-repeat url("../img/bg.png");
  background-size: cover;
}

.container {
  width: 100%;
  max-width: 1232px;
  margin: 0 auto;
  padding: 50px 15px 120px 15px;
}

.header__header {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__links {
  margin-right: 24px;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

.nav__links--hov:hover {
  border-bottom: 4px solid #f5bd41;
}

.header__title {
  margin-top: 202px;
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;
  color: #fff;
}

.header__content {
  margin-top: 100px;
}

.header__span {
  margin-right: 225px;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}

.header__inputs {
  margin-top: 24px;
}

.inputs {
  font-size: 18px;
  line-height: 21px;
  background: #ffffff;
  border: 3px solid #f3f3f4;
  height: 64px;
  border-radius: 8px;
  outline: none;
}

.inputs:focus {
  border: 3px solid #f5bd41;
}

.header__inputs-city {
  width: 39%;
  padding-left: 24px;
}

.header__inputs-date {
  width: 14%;
  text-align: center;
}

.header__inputs-quantity {
  width: 30%;
  text-align: center;
}

.header__inputs-search {
  border: 0;
  background: #3077c6;
  color: #fff;
  width: 16%;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.header__apps {
  margin-top: 120px;
  display: flex;
  justify-content: center;
}

.header__apps-links {
  margin-right: 16px;
}
/* 
























 */

/* body {
  font-family: Roboto;
  color: #383838;
}

.container {
  max-width: 1232px;
  min-width: 320px;
  margin: 0 auto;
  padding: 51px 0 120px 0;
}

.header {
  background: url(../img/bg.png) no-repeat center;
  font-size: 24px;
  line-height: 28px;
}

.header__header,
.header__ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__items {
  margin-right: 24px;
}

.header__items:nth-child(2) {
  margin-right: 48px;
}

.offer__inner {
  margin-top: 69px;
}

.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
}

.title::after {
  margin: 0 auto;
  display: block;
  content: " ";
  width: 100px;
  height: 4px;
  background: #f5bd41;
  margin-top: 20px;
}

.offer__images {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.images__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.images__text {
  justify-content: space-around;
  margin-top: 48px;
}

.footer {
  background: #10367c;
  color: #fff;
  font-size: 20px;
  line-height: 23px;
}

.footer__navigation {
  display: flex;
  justify-content: space-between;
}

.footer__menu-item {
  margin-bottom: 24px;
}

.footer__menu-item:last-child {
  margin-bottom: 0;
}

.footer__menu-item-weight {
  font-weight: 500;
}

.links {
  color: #fff;
}

.footer__copyright {
  margin-top: 64px;
}

.footer__copyright-text {
  font-size: 14px;
  line-height: 16px;
} */

.sprite {
  position: absolute;
  visibility: hidden;
  height: 0;
  width: 0;
}

.images__icon {
  fill: #3077c6;
}

.images__icon--white {
  fill: #fff;
}

.images__headphones {
  width: 75px;
  height: 91.67px;
}

.images__message {
  width: 83.33px;
  height: 83.33px;
}

.images__phone {
  width: 100px;
  height: 66.67px;
}

.images__reviews {
  width: 91.67px;
  height: 83.33px;
}

.logo {
  width: 205px;
  height: 50px;
}

.theme {
  width: 38px;
  height: 38px;
}

.account {
  width: 40px;
  height: 40px;
}

.googleplay {
  width: 135px;
  height: 40px;
}

.appstore {
  width: 120px;
  height: 40px;
}
