@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 1232px;
  margin: 0 auto;
  padding: 120px 0;
  width: 100%;
}

.offers-title {
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 20px;
}

.title-underline {
  border: none;
  width: 100px;
  height: 4px;
  margin: 0 auto;
  background: #f5bd41;
  margin-bottom: 80px;
}

.offers-list {
  display: flex;
}

.item {
  width: 25%;
  text-align: center;
}

.img-wrapper {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.item-text {
  font-size: 24px;
  line-height: 28px;
}

.footer {
  background-color: #10367c;
}

.footer-top {
  display: flex;
}

.footer-top-block {
  width: 410px;
}

ul li {
  padding-bottom: 24px;
}

.wt {
  font-weight: 500;
}

.links {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  line-height: 23px;
}

.links:hover {
  border-bottom: 3px solid #fff;
}

.footer-bottom {
  margin-top: 40px;
  color: white;
  font-size: 14px;
  line-height: 16px;
}
