* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 1232px;
  margin: 0 auto;
  padding: 120px 0;
  width: 100%;
}

.offers-title {
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 20px;
}

.title-underline {
  border: none;
  width: 100px;
  height: 4px;
  margin: 0 auto;
  background: #f5bd41;
  margin-bottom: 80px;
}

.offers-list {
  display: flex;
}

.item {
  width: 25%;
  text-align: center;
}

.img-wrapper {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.item-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}
