* {
  font-style: "Roboto", sans-serif;
}

.mainblock {
  max-width: 1440px;
}

.title {
  margin: 120px 0;
  font-weight: 500;
  font-size: 40px;
  display: block;
  text-align: center;
}

.title::after {
  content: " ";
  width: 100px;
  height: 4px;
  background-color: #f5bd41;
  display: block;
  margin: 0 auto;
}

.images {
  display: flex;
  justify-content: space-around;
}

.text {
  margin-top: 20px;
  font-weight: 400;
  font-size: 24px;
  display: flex;
  justify-content: space-around;
}
