.header {
  background: url("#{$img-path}bg.png") top no-repeat;
  background-size: cover;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu-list,
  &__menu-item {
    display: flex;
    align-items: center;
  }

  .burger {
    display: none;
  }

  &__logo-img {
    width: 205px;
    height: 40px;
  }

  &__menu-item {
    margin-right: 24px;
    position: relative;
  }

  &__menu-item:nth-child(2) {
    margin-right: 48px;
  }

  &__menu-item:nth-last-child(1) {
    margin-right: 0;
  }

  &__menu-item--active::after {
    position: absolute;
    content: " ";
    width: 0%;
    height: 4px;
    background: #f5bd41;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__menu-item--active:hover::after {
    width: 100%;
    transition: width 0.2s;
  }

  &__ico-theme {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: url(#{$img-path}night.svg) no-repeat center;
    background-size: cover;
  }

  &__ico-account {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: url(#{$img-path}account.svg) no-repeat center;
    background-size: cover;
  }

  &__menu-link {
    font-size: 24px;
    line-height: 28px;
    color: #fff;
  }

  &__title {
    margin-top: 202px;
    font-weight: 500;
    font-size: 50px;
    line-height: 59px;
    color: #fff;
  }

  &__form {
    display: flex;
    background: #fff;
    margin-top: 145px;
    border-radius: 8px;
  }

  &__form-label {
    font-size: 18px;
    line-height: 21px;
    color: #fff;
  }

  &__form-label-dest {
    top: -50px;
    left: 25px;
    position: absolute;
  }

  &__form-label-check {
    top: -50px;
    left: 25px;
    position: absolute;
  }

  &__form-wrap--city {
    position: relative;
    width: 38%;
  }
  &__form-wrap--date {
    position: relative;
    width: 21%;
  }
  &__form-wrap--quantity {
    width: 26%;
  }
  &__form-wrap--btn {
    width: 15%;
  }

  &__form-wrap {
    height: 64px;
  }

  &__form-input {
    padding-left: 24px;
    font-size: 18px;
    line-height: 21px;
    border: 3px solid #f3f3f4;
    border-radius: 8px;
    width: 100%;
    height: 100%;
  }

  &__form-input--city {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__form-input--date {
    border: 3px solid #f5bd41;
    border-radius: 8px;
  }
  &__form-input--quantity {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
  }

  &__form-input:focus {
    outline: 0;
  }

  &__form-mobile {
    display: none;
  }

  &__apps {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__apps-item {
    margin-right: 16px;
  }

  &__apps-item:nth-last-child(1) {
    margin-right: 0;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    &__logo-img {
      width: 150px;
      height: 30px;
    }

    &__menu-item {
      margin-right: 12px;
    }

    &__menu-item:nth-child(2) {
      margin-right: 24px;
    }

    &__menu-link {
      font-size: 18px;
      line-height: 22px;
      color: #fff;
    }

    &__title {
      margin: 120px 0 30px 0;
      font-size: 36px;
      line-height: 40px;
    }

    &__description {
      display: none;
    }

    &__form {
      display: none;
    }

    &__form-mobile {
      display: block;
      background: #f5bd41;
      border: 8px solid #f5bd41;
    }

    &__form-mobile-wrap {
      margin-bottom: 8px;
      display: flex;
    }

    &__form-mobile-city {
      position: relative;
      margin-bottom: 8px;
    }

    &__form-mobile-search-ico {
      position: absolute;
      top: 16px;
      left: 10px;
    }

    &__form-mobile-wrap:nth-last-child(1) {
      margin-bottom: 0;
    }

    &__form-mobile-input {
      font-family: Roboto;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      border-radius: 4px;
      padding: 24px 0 6px 8px;
      height: 48px;
      width: 100%;
    }

    &__form-mobile-input--city {
      padding: 15px 0 15px 36px;
    }

    &__form-mobile-checkin,
    &__form-mobile-checkout {
      position: relative;
    }

    &__form-mobile-checkin {
      margin-right: 8px;
    }

    &__form-mobile-adults,
    &__form-mobile-children,
    &__form-mobile-rooms {
      position: relative;
    }

    &__line::after {
      content: " ";
      position: absolute;
      left: 99%;
      top: 20%;
      height: 32px;
      width: 2px;
      background: #bfbfbf;
    }

    &__form-mobile-input--adults {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &__form-mobile-input--children {
      border-radius: 0;
    }

    &__form-mobile-input--rooms {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &__form-mobile-label {
      font-size: 12px;
      top: 7px;
      left: 9px;
      position: absolute;
    }

    &__form-mobile-input--date:nth-last-child(1) {
      margin-right: 0;
    }

    &__apps {
      margin-top: 60px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .header {
    &__logo-img {
      width: 122px;
      height: 24px;
    }

    &__menu-link {
      text-align: center;
    }

    &__menu-item {
      margin-right: 16px;
    }

    &__menu-item:nth-last-child(1) {
      margin-right: 0;
    }

    &__menu-item--active {
      display: none;
    }

    .burger {
      display: block;

      &__line {
        width: 24px;
        height: 3px;
        background-color: #fff;
        margin-bottom: 4px;
      }

      &__line:nth-last-child(1) {
        margin-bottom: 0;
      }
    }

    &__ico-theme {
      width: 16px;
      height: 16px;
    }

    &__ico-account {
      width: 24px;
      height: 24px;
    }

    &__title {
      margin: 52px 0 31px 0;
      font-size: 30px;
      line-height: 35px;
    }

    &__apps {
      margin-top: 32px;
    }
  }
}
