.container {
  max-width: 1232px;
  padding: 50px 16px 120px 16px;
  margin: 0 auto;
  width: 100%;
}

.header {
  background: url("#{$img-path}bg.png") top no-repeat;
  background-size: cover;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu-list,
  &__menu-item {
    display: flex;
    align-items: center;
  }

  .burger {
    display: none;
  }

  &__logo-img {
    width: 205px;
    height: 40px;
  }

  &__menu-item {
    margin-right: 24px;
    position: relative;
  }

  &__menu-item:nth-child(2) {
    margin-right: 48px;
  }

  &__menu-item:nth-last-child(1) {
    margin-right: 0;
  }

  &__menu-item--active::after {
    position: absolute;
    content: " ";
    width: 0%;
    height: 4px;
    background: #f5bd41;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__menu-item--active:hover::after {
    width: 100%;
    transition: width 0.2s;
  }

  &__ico-theme {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: url(#{$img-path}night.svg) no-repeat center;
    background-size: cover;
  }

  &__ico-account {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: url(#{$img-path}account.svg) no-repeat center;
    background-size: cover;
  }

  &__menu-link {
    font-size: 24px;
    line-height: 28px;
    color: #fff;
  }

  &__title {
    margin-top: 202px;
    font-weight: 500;
    font-size: 50px;
    line-height: 59px;
    color: #fff;
  }

  &__form {
    display: flex;
    background: #fff;
    margin-top: 145px;
    border-radius: 8px;
  }

  &__form-label {
    font-size: 18px;
    line-height: 21px;
    color: #fff;
  }

  &__form-label-dest {
    top: -50px;
    left: 25px;
    position: absolute;
  }

  &__form-label-check {
    top: -50px;
    left: 25px;
    position: absolute;
  }

  &__form-wrap--city {
    position: relative;
    width: 38%;
  }
  &__form-wrap--date {
    position: relative;
    width: 21%;
  }
  &__form-wrap--quantity {
    width: 26%;
  }
  &__form-wrap--btn {
    width: 15%;
  }

  &__form-wrap {
    height: 64px;
  }

  &__form-input {
    padding-left: 24px;
    font-size: 18px;
    line-height: 21px;
    border: 3px solid #f3f3f4;
    border-radius: 8px;
    width: 100%;
    height: 100%;
  }

  &__form-input--city {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__form-input--date {
    border: 3px solid #f5bd41;
    border-radius: 8px;
  }
  &__form-input--quantity {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
  }

  &__form-input--btn {
    cursor: pointer;
    border: none;
    color: #fff;
    border: 0;
    background: #3077c6;
    padding-left: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
  }

  &__form-input:focus {
    outline: 0;
  }

  &__form-mobile {
    display: none;
  }

  &__apps {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__apps-item {
    margin-right: 16px;
  }

  &__apps-item:nth-last-child(1) {
    margin-right: 0;
  }
}

.offer {
  background: #fff;

  &__title {
    margin-top: 70px;
    position: relative;
    margin-bottom: 104px;
  }

  .title {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;

    &--active::after {
      position: absolute;
      content: " ";
      width: 100px;
      height: 4px;
      background: #f5bd41;
      left: 50%;
      top: 140%;
      transform: translate(-50%, -50%);
    }
  }

  .advantages {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    &__item {
      text-align: center;
      margin-bottom: 0;
    }

    &__img-wrapper {
      margin: 0 auto;
      width: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      margin-bottom: 48px;
    }

    &__img {
      width: 100px;
      height: 100px;
    }

    &__text {
      font-size: 24px;
      line-height: 28px;
    }
  }
}

.img-text {
  font-size: 24px;
  line-height: 28px;
  color: #3077c6;
}

.homes {
  background: #eaf0f9;

  &__title {
    margin: 70px 0 105px 0;
  }

  .places {
    display: flex;
    justify-content: space-between;

    &__item {
      width: 290px;
    }

    &__img-wrapper {
      position: relative;
      margin-bottom: 24px;
    }

    &__text {
      margin-top: 24px;
      font-size: 24px;
      line-height: 28px;
      color: #bfbfbf;
    }

    &__arrow-wrap {
      background: #fff;
      width: 40px;
      height: 40px;
      position: absolute;
      left: 100%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &__arrow {
      background: url(#{$img-path}arrow.svg) no-repeat center;
      width: 40px;
      height: 40px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 128px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #3077c6;
  color: #3077c6;
  font-size: 18px;
  line-height: 21px;
  z-index: 2;
}

.dest {
  background: #fff;

  &__title {
    margin-top: 70px;
    margin-bottom: 104px;
  }

  &__tab {
    display: flex;
    margin-bottom: 66px;
  }

  &__btn {
    font-size: 24px;
    line-height: 28px;
    height: 64px;
    background: #f3f3f4;
    border-radius: 8px;
  }

  &__btn--active {
    color: #fff;
    background: #3077c6;
  }

  &__btn--regions {
    width: 20%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__btn--cities {
    width: 20%;
    border-radius: 0;
  }

  &__btn--placesfull {
    width: 30%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &__btn--places {
    display: none;
  }

  .region {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__img-wrapper {
      width: 296px;
      height: 296px;
      margin-bottom: 25px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(56, 56, 56, 0.4);
        box-shadow: inset 0px 4px 70px rgba(56, 56, 56, 0.5);
        opacity: 0;
      }

      &:hover:after {
        opacity: 1;
        transition: opacity 0.2s;
      }
    }

    &__btn {
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__img-wrapper:hover .region__btn {
      opacity: 1;
      transition: opacity 0.3s;
    }

    &__arrow-wrap {
      position: absolute;
      background: #fff;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      transform-origin: center center;
      left: 50%;
      top: 120%;
      transform: translate(-50%, -50%);
    }

    &__arrow {
      background: url(#{$img-path}arrow.svg) no-repeat center;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 3px;
      transform: rotate(90deg);
    }
  }
}

.signup {
  background: #fff;

  &__wrap {
    position: relative;
    padding: 57px 0 57px 24px;
    background: #eaf0f9;
    display: flex;
  }

  &__close {
    background: url(#{$img-path}close.svg) no-repeat center;
    position: absolute;
    top: 10%;
    left: 95%;
    width: 26px;
    height: 26px;
  }

  &__img {
    margin-right: 24px;
  }

  &__text {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 21px;
  }
}

.footer {
  background: #10367c;

  &__logo {
    display: none;
  }

  &__navigation {
    margin: 70px 0 0 0;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &__list {
      margin-bottom: 64px;
    }

    &__list-item {
      margin-bottom: 24px;
    }

    &__link {
      font-size: 20px;
      line-height: 23px;
      color: #fff;
    }

    &__list-item--title {
      pointer-events: none;
      cursor: default;
      text-decoration: none;
    }

    &__list-item--body {
      display: block;
    }
  }

  .copyright {
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
  }
}

@media only screen and (max-width: 768px) {
  // For tablets
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }

  .container {
    max-width: 780px;
    padding: 50px 16px 50px 16px;
  }

  .header {
    &__logo-img {
      width: 150px;
      height: 30px;
    }

    &__menu-item {
      margin-right: 12px;
    }

    &__menu-item:nth-child(2) {
      margin-right: 24px;
    }

    &__menu-link {
      font-size: 18px;
      line-height: 22px;
      color: #fff;
    }

    &__title {
      margin: 120px 0 30px 0;
      font-size: 36px;
      line-height: 40px;
    }

    &__description {
      display: none;
    }

    &__form {
      display: none;
    }

    &__form-mobile {
      display: block;
      background: #f5bd41;
      border: 8px solid #f5bd41;
    }

    &__form-mobile-wrap {
      margin-bottom: 8px;
      display: flex;
    }

    &__form-mobile-city {
      position: relative;
      margin-bottom: 8px;
    }

    &__form-mobile-search-ico {
      position: absolute;
      top: 16px;
      left: 10px;
    }

    &__form-mobile-wrap:nth-last-child(1) {
      margin-bottom: 0;
    }

    &__form-mobile-input {
      font-family: Roboto;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      border-radius: 4px;
      padding: 24px 0 6px 8px;
      height: 48px;
      width: 100%;
    }

    &__form-mobile-input--city {
      padding: 15px 0 15px 36px;
    }

    &__form-mobile-checkin,
    &__form-mobile-checkout {
      position: relative;
    }

    &__form-mobile-checkin {
      margin-right: 8px;
    }

    &__form-mobile-adults,
    &__form-mobile-children,
    &__form-mobile-rooms {
      position: relative;
    }

    &__line::after {
      content: " ";
      position: absolute;
      left: 99%;
      top: 20%;
      height: 32px;
      width: 2px;
      background: #bfbfbf;
    }

    &__form-mobile-input--adults {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &__form-mobile-input--children {
      border-radius: 0;
    }

    &__form-mobile-input--rooms {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &__form-mobile-label {
      font-size: 12px;
      top: 7px;
      left: 9px;
      position: absolute;
    }

    &__form-mobile-input--date:nth-last-child(1) {
      margin-right: 0;
    }

    &__form-mobile-input--btn {
      font-size: 19px;
      line-height: 22px;
      color: #ffffff;
      background-color: #3077c6;
      padding: 0;
      text-align: center;
    }

    &__apps {
      margin-top: 60px;
    }
  }

  .offer {
    background: #fff;

    &__title {
      position: relative;
      margin: 0 0 52px 0;
    }

    .title {
      font-size: 28px;
      line-height: 32px;

      &--active::after {
        position: absolute;
        content: " ";
        width: 70px;
        height: 4px;
        background: #f5bd41;
        left: 50%;
        top: 120%;
        transform: translate(-50%, -50%);
      }
    }

    .advantages {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;

      &__item {
        margin-bottom: 40px;
      }

      &__item:nth-child(3) {
        margin-bottom: 0;
      }

      &__item:nth-child(4) {
        margin-bottom: 0;
      }

      &__img-wrapper {
        margin: 0 auto;
        width: 85px;
        height: 85px;
        display: flex;
        align-items: center;
        margin-bottom: 48px;
      }

      &__img {
        width: 85px;
        height: 85px;
      }

      &__text {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }

  .img-text {
    font-size: 14px;
    line-height: 16px;
  }

  .homes {
    &__title {
      margin: 0 0 32px 0;
    }

    .places {
      &__item {
        width: 200px;
      }

      &__img-wrapper {
        margin-bottom: 16px;
      }

      &__text {
        margin-top: 8px;
        font-size: 14px;
        line-height: 16px;
      }

      &__arrow-wrap {
        width: 30px;
        height: 30px;
      }

      &__arrow {
        width: 30px;
        height: 30px;
      }
    }
  }

  .dest {
    &__title {
      margin: 0 0 32px 0;
    }

    &__tab {
      margin-bottom: 32px;
      justify-content: space-between;
    }

    &__btn {
      font-size: 22px;
      line-height: 24px;
      border-radius: 6px;
      height: 48px;
    }

    &__btn--regions {
      width: 30%;
    }

    &__btn--cities {
      width: 30%;
    }

    &__btn--placesfull {
      display: none;
    }

    &__btn--places {
      width: 30%;
      display: block;
    }

    .region {
      &__img-wrapper {
        width: 184px;
        height: 184px;
        margin-bottom: 16px;
        &:hover:after {
          display: none;
        }
      }

      &__img-wrapper:hover .region__btn {
        display: none;
      }

      &__arrow-wrap {
        top: 110%;
      }
    }
  }

  .signup {
    display: none;
  }

  .footer {
    &__logo {
      display: none;
    }

    &__navigation {
      margin: 0;
    }

    .nav {
      align-items: flex-start;

      &__list {
        margin-bottom: 20px;
      }

      &__list-item {
        margin-bottom: 18px;
      }

      &__link {
        font-size: 16px;
        line-height: 20px;
        color: #fff;
      }

      &__list-item--title {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
      }

      &__list-item--body {
        display: block;
      }
    }

    .copyright {
      font-size: 12px;
      line-height: 14px;
      text-align: left;
    }
  }
}

@media only screen and (max-width: 480px) {
  // For mobile phones
  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }

  .container {
    max-width: 328px;
    padding: 12px 0 40px 0;
  }

  .header {
    &__logo-img {
      width: 122px;
      height: 24px;
    }

    &__menu-link {
      text-align: center;
    }

    &__menu-item {
      margin-right: 16px;
    }

    &__menu-item:nth-last-child(1) {
      margin-right: 0;
    }

    &__menu-item--active {
      display: none;
    }

    .burger {
      display: block;

      &__line {
        width: 24px;
        height: 3px;
        background-color: #fff;
        margin-bottom: 4px;
      }

      &__line:nth-last-child(1) {
        margin-bottom: 0;
      }
    }

    &__ico-theme {
      width: 16px;
      height: 16px;
    }

    &__ico-account {
      width: 24px;
      height: 24px;
    }

    &__title {
      margin: 52px 0 31px 0;
      font-size: 30px;
      line-height: 35px;
    }

    &__apps {
      margin-top: 32px;
    }
  }

  .offer {
    &__title {
      margin-top: 12px;
      margin-bottom: 32px;
    }

    .title {
      font-size: 28px;
      line-height: 33px;

      &--active::after {
        display: none;
      }
    }
  }

  .advantages {
    flex-direction: column;
    text-align: center;

    &__item {
      margin-bottom: 32px;
    }

    &__item:nth-child(3) {
      margin-bottom: 32px;
    }

    &__item:nth-child(4) {
      margin-bottom: 32px;
    }

    &__item:nth-last-child(1) {
      margin-bottom: 0;
    }

    &__img-wrapper {
      margin-bottom: 16px;
      width: 70px;
      height: 70px;
    }

    &__img {
      width: 70px;
      height: 70px;
    }

    &__text {
      font-size: 15px;
      line-height: 18px;
    }
  }

  .img-text {
    font-size: 12px;
    line-height: 14px;
  }

  .homes {
    .homes__title {
      margin: 28px 0 32px 0;
    }

    .places {
      &__item {
        width: 155px;
      }

      &__img-wrapper {
        margin-bottom: 8px;
      }

      &__text {
        margin-top: 4px;
        font-size: 12px;
        line-height: 14px;
      }

      &__arrow-wrap {
        width: 25px;
        height: 25px;
      }

      &__arrow {
        width: 25px;
        height: 25px;
      }
    }
  }

  .dest {
    &__title {
      margin-top: 28px;
      margin-bottom: 32px;
    }

    &__tab {
      margin-bottom: 24px;
    }

    &__btn {
      font-size: 19px;
      line-height: 22px;
      border-radius: 4px;
      height: 32px;
    }

    .region {
      position: relative;

      &__img-wrapper {
        width: 156px;
        height: 156px;
        margin-bottom: 8px;
      }

      &__arrow-wrap {
        position: absolute;
        width: 25px;
        height: 25px;
        left: 95%;
        top: 45%;
        transform: translate(-50%, -50%);
      }

      &__arrow {
        width: 25px;
        height: 25px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .footer {
    &__logo {
      margin-top: 28px;
      display: block;
      text-align: center;
    }

    &__navigation {
      margin: 40px 0 32px 0;
    }

    .nav {
      display: flex;
      align-items: center;

      &__list {
        margin-bottom: 0;
      }

      &__list-item--title {
        cursor: pointer;
        pointer-events: all;
        text-decoration-line: underline;
        font-weight: 500;
      }

      &__list-item--body {
        display: none;
      }

      &__link {
        font-size: 15px;
        line-height: 18px;
      }
    }

    .copyright {
      text-align: center;
      font-size: 12px;
      line-height: 14px;
    }
  }
}
