* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #383838;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  max-width: 1232px;
}

.img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.button {
  border: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #383838;
  height: 64px;
  cursor: pointer;
  width: 192px;

  &--active {
    color: #fff;
    background: #3077c6;

    &:hover {
      background: darken($color: #3077c6, $amount: 10);
      transition: all 0.3s;
    }
  }

  &--size {
    width: 240px;
  }
}

.inner {
  padding: 120px 0;
}

.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.arrow-wrap {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 2;
}

.arrow {
  background: url("#{$img-path}arrow.svg") center no-repeat;
  width: 40px;
  height: 40px;
}

.link {
  color: #3077c6;
  margin-bottom: 24px;
  display: block;
}

.button-link {
  background: #ffffff;
  border: 1px solid #3077c6;
  border-radius: 8px;
  width: 128px;
  height: 48px;
  font-size: 18px;
  line-height: 21px;
  color: #3077c6;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}
