* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #383838;
  min-width: 360px;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  max-width: 1232px;
}

.img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.button {
  border: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #383838;
  cursor: pointer;

  &--active {
    color: #fff;
    background: #3077c6;

    &:hover {
      background: darken($color: #3077c6, $amount: 10);
      transition: all 0.3s;
    }
  }
}

.inner {
  padding: 120px 0;
}

.signup-inner {
  padding: 52px 24px;
  background: #eaf0f9;
  display: flex;
  align-items: center;
  position: relative;
}

.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.arrow-wrap {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 2;
}

.arrow {
  background: url("#{$img-path}arrow.svg") center no-repeat;
  width: 40px;
  height: 40px;
}

.link {
  color: #3077c6;
  margin-bottom: 24px;
  display: block;
}

.button-link {
  background: #ffffff;
  border: 1px solid #3077c6;
  border-radius: 8px;
  width: 128px;
  height: 48px;
  font-size: 18px;
  line-height: 21px;
  color: #3077c6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close {
  background: url("#{$img-path}close.svg") center no-repeat;
  width: 26px;
  height: 26px;
  position: absolute;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 480px) {
  // For mobile phones
  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }

  body {
    font-size: 12px;
    line-height: 14px;
  }

  .container {
    max-width: 328px;
  }

  .button {
    border-radius: 4px;
    font-size: 19px;
    line-height: 22px;
  }

  .inner {
    padding: 40px 0;
  }

  .title {
    font-size: 28px;
    line-height: 33px;
  }

  .slider-disabled {
    display: none;
  }

  .arrow-wrap {
    width: 28px;
    height: 28px;
  }

  .arrow {
    width: 28px;
    height: 28px;
  }

  .link {
    margin-bottom: 4px;
  }

  .button-link {
    display: none;
  }

  .signup-inner {
    padding: 24px;
    background: #fff;
  }

  .close {
    width: 16px;
    height: 16px;
  }
}
