- var images = "../src/assets/images/"
section.dest
  .container
    h2.dest__title.title The best destinations
    .dest__tab
      button.button.button--regions.button--active Regions
      button.button.button--cities Cities
      button.button.button--placesfull Places of interest
      button.button.button--places Places
    .region
      .region__item
        .region__img-wrapper
            a.btn.region__btn(href="#") Book now
            img.img(src=images + "maldives.jpg" alt="Maldives")
        a.img-text(href="#") Maldives
      .region__item
        .region__img-wrapper
            a.btn.region__btn(href="#") Book now
            img.img(src=images + "spain.jpg" alt="Spain")
        a.img-text(href="#") Spain
      .region__item
        .region__img-wrapper
            a.btn.region__btn(href="#") Book now
            img.img(src=images + "norway.jpg" alt="Norway")
        a.img-text(href="#") Norway
      .region__item
        .region__img-wrapper
            a.btn.region__btn(href="#") Book now
            img.img(src=images + "island.jpg" alt="Island")
        a.img-text(href="#") Island
      .region__arrow-wrap
        button.region__arrow