section.footer
    .container
      .footer__logo
        img(src="img/logo_white.svg" alt="Logo")
      nav.footer__navigation.nav
        ul.nav__list
            li.nav__list-item.nav__list-item--title
                a.nav__link(href="#") About
            li.nav__list-item.nav__list-item--body
                a.nav__link(href="#") How Triphouse works
            li.nav__list-item.nav__list-item--body
                a.nav__link(href="#") Careers
            li.nav__list-item.nav__list-item--body
                a.nav__link(href="#") Privacy
            li.nav__list-item.nav__list-item--body
                a.nav__link(href="#") Terms
        ul.nav__list
            li.nav__list-item.nav__list-item--title
                a.nav__link(href="#") Property types
            li.nav__list-item.nav__list-item--body
                a.nav__link(href="#") Guest houses
            li.nav__list-item.nav__list-item--body
                a.nav__link(href="#") Hotels
            li.nav__list-item.nav__list-item--body
                a.nav__link(href="#") Apartments
            li.nav__list-item.nav__list-item--body
                a.nav__link(href="#") Villas
            li.nav__list-item.nav__list-item--body
                a.nav__link(href="#") Holiday homes
            li.nav__list-item.nav__list-item--body
                a.nav__link(href="#") Hostels
        ul.nav__list
            li.nav__list-item.nav__list-item--title
                a.nav__link(href="#") Support
            li.nav__list-item.nav__list-item--body
                a.nav__link(href="#") Contact Customer Service
            li.nav__list-item.nav__list-item--body
                a.nav__link(href="#") FAQ
      .copyright &copy; 2020 Triphouse, Inc. All rights reserved
