- var images = "../src/assets/images/"
section.homes
  .container
      h2.homes__title.title Homes guests loves
      .places
        .places__item.col-s-6.col-m-6
          a(href="#")
            .places__img-wrapper
              img.img(src=images + "hotel-leopold.jpg" alt="Hotel Leopold")
          a.img-text(href="#") Hotel Leopold
          p.places__text Saints Petersburg, Russia
        .places__item.col-s-6.col-m-6
          a(href="#")
            .places__img-wrapper
              img.img(src=images + "apartment-sunshine.jpg" alt="Apartment Sunshine")
          a.img-text(href="#") Apartment Sunshine
          p.places__text Santa Cruz de Tenerife, Spain
        .places__item.col-s-6.col-m-6
          a(href="#")
            .places__img-wrapper
              img.img(src=images + "villa-kunerad.jpg" alt="Villa Kunerad")
          a.img-text(href="#") Villa Kunerad
          p.places__text Vysokie Tatry, Slowakia
        .places__item.col-s-6.col-m-6
          .places__img-wrapper
            .places__arrow-wrap
              button.places__arrow
            a(href="#")
              img.img(src=images + "hostel-friendship.jpg" alt="Hostel Friendship")
          a.img-text(href="#") Hostel Friendship
          p.places__text Berlin, Germany