doctype html
html(lang="en")
    head
      include head.pug
    body
      include header.pug
      include offer.pug
      include homes.pug
      include dest.pug
      include signup.pug
      include signup-mobile.pug
      include footer.pug