doctype html
head
  include head
body
  include sections/header
  include sections/offers
  include sections/homes
  include sections/dest
  include sections/signup
  include sections/reviews
  include sections/footer