- var images = "../src/assets/images/"
section.offer
  .container
    h2.offer__title.title.title--active What do we offer
    .advantages
      .advantages__item.col-m-12.col-s-6
        .advantages__img-wrapper
            img.advantages__img.img(src=images + "headphones.svg" alt="Support")
        p.advantages__text Support 24/7
      .advantages__item.col-m-12.col-s-6
        .advantages__img-wrapper
          img.advantages__img.img(src=images + "message.svg" alt="Communicate")
        p.advantages__text Communicate directly
      .advantages__item.col-m-12.col-s-6
        .advantages__img-wrapper
          img.advantages__img.img(src=images + "phone.svg" alt="Booking")
        p.advantages__text Book online
      .advantages__item.col-m-12.col-s-6
        .advantages__img-wrapper
          img.advantages__img.img(src=images + "reviews.svg" alt="Reviews")
        p.advantages__text Real guest reviews