- var images = "../src/assets/images/"
section.signup
  .container
    .signup__wrap
      button.signup__close
      .signup__img
        .signup__img-wrapper
          img.img(src=images + "user.svg" alt="User")
      .signup__content
        p.signup__text Sign up and get 20% off your first booking
        a.btn(href="#") Sign up