.footer {
  background: #10367c;

  &__logo-wrapper {
    display: none;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;

    &-list {
      &-item {
        margin-bottom: 24px;

        &--title {
          pointer-events: none;
          cursor: default;
          text-decoration: none;
        }

        &--body {
          display: block;

          &:hover {
            text-decoration-line: underline;
          }
        }
      }

      &-link {
        font-size: 20px;
        line-height: 23px;
        color: #fff;
      }
    }
  }

  .copyright {
    color: #fff;
    font-size: 14px;
    line-height: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    &__nav {
      margin-bottom: 48px;

      &-list {
        &-item {
          margin-bottom: 18px;
        }

        &-link {
          font-size: 16px;
          line-height: 20px;
        }
      }
    }

    .copyright {
      font-size: 12px;
      line-height: 14px;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 480px) {
  .footer {
    &__logo-wrapper {
      display: block;
      text-align: center;
      margin-bottom: 40px;
    }

    &__nav {
      &-list-item--title {
        cursor: pointer;
        pointer-events: all;
        text-decoration-line: underline;
        font-weight: 500;
      }

      &-list-item--body {
        display: none;
      }

      &-list-item-link {
        font-size: 15px;
        line-height: 18px;
      }
    }
  }
}
