.header {
  background: url("#{$img-path}bg.jpg") top no-repeat;

  &__header {
    padding-top: 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 202px;
  }

  .burger {
    display: none;
  }

  .nav {
    &__list {
      display: flex;
      align-items: center;

      &-item {
        margin-right: 24px;

        &:nth-child(2) {
          margin-right: 48px;
        }

        &:nth-last-child(1) {
          margin-right: 0;
        }
      }
    }

    &__link {
      color: #fff;
      position: relative;

      &::after {
        content: "";
        width: 100%;
        height: 4px;
        background-color: #f5bd41;
        position: absolute;
        top: 130%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        pointer-events: none;
      }

      &:hover::after {
        opacity: 1;
        transition: opacity 0.3s ease;
      }
    }

    &__theme {
      background: url("#{$img-path}theme.svg") center no-repeat;
      width: 30px;
      height: 30px;
      background-size: cover;
    }

    &__account {
      background: url("#{$img-path}account.svg") center no-repeat;
      width: 40px;
      height: 40px;
      background-size: cover;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 50px;
    line-height: 59px;
    color: #ffffff;
    margin-bottom: 142px;
  }

  &__form {
    margin-bottom: 120px;
  }

  .form {
    display: flex;
    background: #ffffff;
    border-radius: 8px;

    &__input-wrapper {
      position: relative;
      background: #ffffff;
      border: 3px solid #f3f3f4;
      border-radius: 8px;
      height: 64px;
      font-size: 18px;
      line-height: 21px;
      color: #383838;
      padding-left: 24px;

      &--city {
        width: 38.333%;
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &--date {
        width: 20.917%;
        border: 3px solid #f5bd41;
      }

      &--quantity {
        width: 25.417%;
        border: none;
      }

      &--search {
        width: 16%;
        border: none;
      }
    }

    &__label {
      color: #383838;

      &--up {
        position: absolute;
        top: 50%;
        left: 55%;
        transform: translate(-50%, -50%);
        transition: all 0.3s;
        pointer-events: none;
        width: 100%;
      }
    }

    &__input {
      width: 100%;
      height: 100%;

      &--up {
        &:focus ~ .form__label--up,
        &:not(:focus):valid ~ .form__label--up {
          top: -35px;
          font-size: 18px;
          line-height: 21px;
          color: #ffffff;
          transition: all 0.3s;
        }
      }
    }
  }

  .form-mobile {
    display: none;
  }

  &__apps {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 120px;

    &-item {
      margin-right: 16px;

      &:nth-last-child(1) {
        margin-right: 0;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .header {
    background: url("#{$img-path}bg.jpg") center no-repeat;

    &__header {
      padding-top: 12px;
      margin-bottom: 52px;
    }

    &__logo-wrapper {
      width: 121.92px;
      height: 24px;
    }

    .burger {
      display: block;

      &__line {
        width: 24px;
        height: 3px;
        background-color: #fff;
        margin-bottom: 4px;
      }

      &__line:nth-last-child(1) {
        margin-bottom: 0;
      }
    }

    .nav {
      &__list {
        &-item {
          margin-right: 16px;

          &:nth-last-child(1) {
            margin-right: 0;
          }
        }
      }

      &__link {
        display: none;
      }

      &__theme {
        width: 16px;
        height: 16px;
      }

      &__account {
        width: 24px;
        height: 24px;
      }
    }

    &__title {
      font-size: 27px;
      line-height: 30px;
      margin-bottom: 31px;
    }

    .form {
      display: none;
    }

    &__form-mobile {
      margin-bottom: 32px;
    }

    .form-mobile {
      display: block;
      background: #f5bd41;
      border: 8px solid #f5bd41;

      &__input-wrapper {
        position: relative;
        background: #ffffff;
        border-radius: 4px;
        height: 48px;
        margin-bottom: 8px;

        &:nth-last-child(1) {
          margin-bottom: 0;
        }
      }

      &__date-wrapper > .form-mobile__input-wrapper {
        margin-right: 8px;

        &:nth-last-child(1) {
          margin-right: 0;
        }
      }

      &__quantity-wrapper > .form-mobile__input-wrapper {
        margin-right: 8px;

        &:nth-last-child(1) {
          margin-right: 0;
        }
      }

      &__date-wrapper,
      &__quantity-wrapper {
        display: flex;
      }

      &__label {
        color: #383838;
        font-weight: 500;
        height: 16px;

        &--up {
          position: absolute;
          width: 100%;
          left: 10px;
          top: 18px;
          transition: all 0.3s;
          pointer-events: none;
        }

        &--search {
          background: url("#{$img-path}search.svg") left no-repeat;
          top: 18px;
          padding-left: 20px;
        }
      }

      &__input {
        width: 100%;
        height: 100%;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        padding: 24px 0 6px 10px;
        border-radius: 4px;

        &--up {
          &:focus ~ .form-mobile__label--up,
          &:not(:focus):valid ~ .form-mobile__label--up {
            top: 6px;
            font-size: 12px;
            line-height: 14px;
            font-weight: 400;
            transition: all 0.3s;
          }
        }
      }
    }

    &__apps {
      padding-bottom: 40px;
    }
  }
}
