.homes {
  background-color: #eaf0f9;

  &__title {
    margin-bottom: 112px;
  }

  &__arrow {
    position: absolute;
    left: 102.5%;
    top: 38%;
    transform: translate(-50%, -50%);
  }

  &__places {
    &-item {
      display: flex;
      flex-direction: column;
    }

    &-img-wrapper {
      margin-bottom: 24px;
    }

    &-text {
      color: #bfbfbf;
      width: 296px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .homes {
    &__title {
      margin-bottom: 64px;
    }

    &__arrow {
      left: 100%;
    }

    &__places {
      &-item {
        width: 226px;
      }

      &-img-wrapper {
        width: 226px;
        height: 226px;
        margin-bottom: 16px;
      }
    }

    &-text {
      width: 226px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .homes {
    &__title {
      margin-bottom: 32px;
    }

    &__arrow {
      left: 101%;
    }

    &__places {
      &-item {
        width: 156px;
      }

      &-img-wrapper {
        width: 156px;
        height: 156px;
        margin-bottom: 8px;
      }
    }

    &-text {
      width: 156px;
    }
  }
}
