.reviews {
  background: #fff;

  &__title {
    margin-bottom: 112px;
  }

  &__arrow {
    position: absolute;
    left: 102.5%;
    top: 30%;
    transform: translate(-50%, -50%);
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 33.333%;
    margin-right: 16px;

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }

  &__hotels-img-wrapper {
    position: relative;

    &--250::after {
      content: "From 250 USD";
      position: absolute;
      display: flex;
      align-items: center;
      padding-left: 24px;
      left: 0;
      right: 0;
      bottom: 0;
      color: #fff;
      height: 48px;
      font-size: 18px;
      line-height: 21px;
      background: rgba(56, 56, 56, 0.7);
      pointer-events: none;
    }

    &--40::after {
      content: "From 40 USD";
      position: absolute;
      display: flex;
      align-items: center;
      padding-left: 24px;
      left: 0;
      right: 0;
      bottom: 0;
      color: #fff;
      height: 48px;
      font-size: 18px;
      line-height: 21px;
      background: rgba(56, 56, 56, 0.7);
      pointer-events: none;
    }

    &--100::after {
      content: "From 100 USD";
      position: absolute;
      display: flex;
      align-items: center;
      padding-left: 24px;
      left: 0;
      right: 0;
      bottom: 0;
      color: #fff;
      height: 48px;
      font-size: 18px;
      line-height: 21px;
      background: rgba(56, 56, 56, 0.7);
      pointer-events: none;
    }
  }

  &__content {
    padding: 24px;
    background: #eaf0f9;
    height: 100%;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &-text {
    font-size: 18px;
    line-height: 21px;
  }

  &__hotel {
    margin-bottom: 16px;
    display: block;
    font-weight: 500;
    color: #3077c6;

    &-location {
      color: #3077c6;
    }
  }

  .rating {
    display: flex;
    flex-direction: column;

    &-number {
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      color: #ffffff;
      background: #10367c;
      border-radius: 8px;
      width: 48px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 35px;
      margin-bottom: 12px;
    }

    &-quantity {
      font-size: 14px;
      line-height: 16px;
      color: #bfbfbf;
    }
  }

  &__user {
    display: flex;
    margin-bottom: 17px;

    &-avatar {
      margin-right: 21px;
    }

    &-info {
      display: flex;
      flex-direction: column;
    }

    &-name {
      margin-bottom: 8px;
    }

    &-location {
      color: #bfbfbf;
      padding-left: 25px;

      &--ua {
        background: url("#{$img-path}ua.svg") left no-repeat;
      }

      &--usa {
        background: url("#{$img-path}usa.svg") left no-repeat;
      }

      &--de {
        background: url("#{$img-path}de.svg") left no-repeat;
      }
    }
  }

  .dots {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .reviews {
    background: #eaf0f9;

    &__arrow {
      display: none;
    }

    &__title {
      margin-bottom: 64px;
    }

    &__item {
      margin-right: 0;
    }

    &__hotels-img-wrapper {
      margin-bottom: 24px;
    }

    &__content {
      padding: 12px;
    }

    &__info {
      margin-bottom: 30px;
    }

    &-text {
      font-size: 17px;
      line-height: 20px;
    }

    &__hotel {
      margin-bottom: 16px;
    }

    &__comment {
      margin-bottom: 20px;
    }

    .rating {
      &-number {
        width: 43px;
        height: 29px;
        margin-bottom: 8px;
      }

      &-quantity {
        font-size: 13px;
        line-height: 15px;
      }
    }

    &__user {
      margin-bottom: 17px;

      &-avatar {
        width: 47px;
        height: 47px;
        margin-right: 18px;
      }

      &-name {
        margin-bottom: 8px;
      }
    }

    .dots {
      display: flex;
      justify-content: center;
      padding-left: 0;

      &__item {
        margin-right: 8px;

        &:nth-last-child(1) {
          margin-right: 0;
        }
      }

      &__circle {
        background: transparent;
        border: 1px solid #000;
        width: 8px;
        height: 8px;
        padding: 0;
        border-radius: 50%;

        &--active {
          background: #000;
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .reviews {
    &__title {
      margin-bottom: 32px;
    }

    &__hotels-img-wrapper {
      margin-bottom: 12px;

      &::after {
        display: none;
      }
    }

    &__content {
      padding: 0;
    }

    &__info {
      margin-bottom: 20px;
    }

    &-text {
      font-size: 15px;
      line-height: 18px;
    }

    &__hotel {
      margin-bottom: 8px;
    }

    .rating {
      &-number {
        width: 39px;
        height: 26px;
        margin-bottom: 4px;
      }

      &-quantity {
        font-size: 12px;
        line-height: 14px;
      }
    }

    &__user {
      margin-bottom: 16px;

      &-avatar {
        width: 43.73px;
        height: 43.73px;
        margin-right: 12px;
      }

      &-name {
        margin-bottom: 4px;
      }
    }
  }
}
