.signup {
  background: #fff;

  &__close {
    background: url("#{$img-path}close.svg") center no-repeat;
    width: 26px;
    height: 26px;
    position: absolute;
    left: 97%;
    top: 15%;
    transform: translate(-50%, -50%);
  }

  &__avatar {
    width: 86px;
    height: 86px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 24px;
  }

  &__text {
    margin-bottom: 21px;
  }
}

@media only screen and (max-width: 768px) {
  .signup {
    display: none;
  }
}
