include ../mixins
section.dest
  .container.inner
    h2.dest__title.title The best destinations
    .dest__tab
      button.dest__button.button.button--active Regions
      button.dest__button.button Cities
      button.dest__button.button.button--full Places of interest
      button.dest__button.button.button--mobile Places
    .row
      div.dest__arrow.arrow-wrap
        button.arrow.arrow--rotate
      +cardItem(destValue)