- var images = "../src/assets/images/"
section.header
  .container
    header.header__header
      .logo-wrapper
        a(href="#")
         img.img(src=images + "logo.svg" alt="Triphouse logo")
      nav.nav
        ul.nav__list
          li.nav__list-item
            a.nav__link(href="#") Stays
          li.nav__list-item
            a.nav__link(href="#") Attractions
          li.nav__list-item
            button.nav__theme
          li.nav__list-item
            button.nav__account
          li.nav__list-item
            .burger
                .burger__line
                .burger__line
                .burger__line
    h2.header__title Discover stays<br>to live, work or just relax
    form.header__form.form(action="/" method="GET")
      .form__input-wrapper.form__input-wrapper--city
        input.form__input.form__input--up(type="text" name="city" required)
        label.form__label.form__label--up(for="city") Your destination or hotel name
      .form__input-wrapper.form__input-wrapper--date
        input.form__input.form__input--up(type="text" name="date" required)
        label.form__label.form__label--up(for="date") Check-in — Check-out
      .form__input-wrapper.form__input-wrapper--quantity
        input.form__input(type="text" name="quantity" required)
      .form__input-wrapper.form__input-wrapper--search
        button.button.button--active(type="submit") Search
    form.header__form-mobile.form-mobile(action="/" method="GET")
      .form-mobile__input-wrapper
        input.form-mobile__input.form-mobile__input--up(type="text" name="city" required)
        label.form-mobile__label.form-mobile__label--search.form-mobile__label--up(for="city") Your destination or hotel name
      .form-mobile__date-wrapper
        .form-mobile__input-wrapper
          input.form-mobile__input.form-mobile__input--up(type="text" name="date-checkin" required)
          label.form-mobile__label.form-mobile__label--up(for="date-checkin") Check-in
        .form-mobile__input-wrapper
          input.form-mobile__input.form-mobile__input--up(type="text" name="date-checkout" required)
          label.form-mobile__label.form-mobile__label--up(for="date-checkout") Check-out
      .form-mobile__quantity-wrapper
        .form-mobile__input-wrapper
          input.form-mobile__input.form-mobile__input--up(type="text" name="city" required)
          label.form-mobile__label.form-mobile__label--up(for="city") Adults
        .form-mobile__input-wrapper
          input.form-mobile__input.form-mobile__input--up(type="text" name="city" required)
          label.form-mobile__label.form-mobile__label--up(for="city") Children
        .form-mobile__input-wrapper
          input.form-mobile__input.form-mobile__input--up(type="text" name="city" required)
          label.form-mobile__label.form-mobile__label--up(for="city") Rooms
      .form-mobile__input-wrapper.test
        button.button.button--active(type="submit") Search
      
    .header__apps
      .header__apps-item
        a(href="#")
         img.img(src=images + "google-play.svg" alt="Download in Google Play")
      .header__apps-item
        a(href="#")
          img.img(src=images + "app-store.svg" alt="Download in App Store")
