include ../mixins
section.reviews
  .container.inner
    h2.reviews__title.title Guests reviews
    .row
      div.reviews__arrow.arrow-wrap
        button.arrow
      +reviewsItem(reviewsValue)
    ul.dots
      -  for (var x=0; x<4; x++) 
          li.dots__item
            if x === 0
              button.dots__circle.dots__circle--active
            else
              button.dots__circle