- var images = "../src/assets/images/"
section.signup-mobile
  .container.signup-inner
    button.signup-mobile__close.close
    .signup-mobile__logo-wrapper
      img.img(src=images + "logo-white.svg")
    p.signup-mobile__text Sign up in the app and get 20% off your first booking
    a.signup-mobile__link(href="#") Install
