- var images = "../src/assets/images/"
section.signup
  .container.signup-inner
    button.signup__close.close
    .signup__avatar
      img.img(src=images + "avatar.svg")
    .signup__content
      p.signup__text Sign up and get 20% off your first booking
      a.button-link(href="#") Sign up
